*{
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 20px, 20px, 20px, 20px;
}
header h1{
    font-size: 48px;
}

ul a{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(168, 113, 46);
    border: 1px solid;
    display: block;
    width: 25vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

ul a:hover{
    background-color: rgb(228, 171, 102);
    transition: 0.3s;
}